@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');
@import url('react-toastify/dist/ReactToastify.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --toastify-color-progress-dark: #E0FF38;
    --toastify-color-progress-success: #E0FF38;
    --toastify-toast-width: max-content;
}
